---
import Layout from "$lib/layouts/Layout.astro";
import Blog from "$lib/components/landing/cards/Blog.astro";
import { getPosts } from "$lib/common/getPosts.ts";
import { getLocale } from "@paraglide/runtime";
import Divider from "$lib/components/common/Divider.astro";
import { getVisitRequest } from "$lib/common/getViews.ts";
import * as m from "@paraglide/messages.js";

const posts = await getPosts();
const postViews = await Promise.all(
    posts.map((post) => getVisitRequest(post.id)),
);
---

<Layout title="Ever Ruiz Diaz">
    <div class="h-screen mt-20">
        <h1 class="text-5xl font-bold">{m.articles()}</h1>
        <p class="blog-content-paragraph mb-10 max-w-[400px]">
            {m.articlesDescription()}
        </p>
        <Divider />
        {
            posts
                .filter((post) => post.active)
                .sort((a, b) => (b.pinned ? 1 : 0) - (a.pinned ? 1 : 0))
                .map((post, index, filteredPosts) => {
                    const postView = postViews.find(
                        (view) => view.projectId === post.id,
                    );
                    return (
                        <>
                            <Blog
                                title={post.title[getLocale()]}
                                pinned={post.pinned}
                                url={`/${getLocale()}${post.url}`}
                                description={post.description[getLocale()]}
                                views={postView?.visits || 0}
                                tags={post.tags}
                                date={post.date}
                            />
                            {index < filteredPosts.length - 1 && <Divider />}
                        </>
                    );
                })
        }
    </div>
</Layout>
