---
import { Icon } from "astro-icon/components";
import dayjs from "dayjs";
import * as m from "@paraglide/messages.js";
import { languageTag } from "@paraglide/runtime";
import LinkTitle from "$lib/components/common/LinkTitle.astro";

interface Props {
    title: string;
    url: string;
    description: string;
    views: number;
    tags: string[];
    date: Date;
}

let { title, url, description, views, tags, date }: Props = Astro.props;
---

<div
    class="relative flex flex-wrap flex-row items-center h-auto duration-200 hover:ease-in"
>
    <div class="flex-1 flex flex-col gap-2 w-full">
        <div class="flex justify-between items-center w-full">
            <LinkTitle title={title} url={url} />
        </div>
        <p class="text-md font-light text-secondary-foreground break-words">
            {description}
        </p>
        <div
            class="flex flex-wrap justify-left items-center mt-2 md:text-md text-sm text-muted-foreground gap-4"
        >
            <section
                class="inline-flex items-center justify-center gap-1 font-medium"
            >
                <Icon name="eye" title="Views" class="w-4 h-4 flex-shrink-0" />
                <span class="whitespace-nowrap"
                    >{views ? views : 0} {m.views()}</span
                >
            </section>
            <section
                class="inline-flex items-center justify-center gap-1 font-medium"
                title=""
            >
                <Icon name="tag" title="Tags" class="w-4 h-4 flex-shrink-0" />
                <span class="whitespace-nowrap"
                    >{tags?.length ? tags.length : 0} {m.tags()}</span
                >
            </section>
            <section
                class="inline-flex items-center justify-center gap-1 font-medium"
            >
                <Icon name="date" title="Date" class="w-4 h-4 flex-shrink-0" />
                <span class="whitespace-nowrap">
                    {
                        languageTag() === "zh"
                            ? `${dayjs(date).format("YYYY年MM月")}`
                            : `${dayjs(date).format("MMM YYYY")}`
                    }
                </span>
            </section>
        </div>
    </div>
</div>
