---
import { Icon } from "astro-icon/components";
import LinkTitle from "$lib/components/common/LinkTitle.astro";
import Tech from "./tech.svelte";
import { getTechnologiesFromJson } from "$lib/common/getTechData.js";
import { languageTag } from "@paraglide/runtime";
import * as m from "@paraglide/messages.js";
import LinkExternal from "$lib/components/common/LinkExternal.astro";

interface Props {
    url: string;
    title: string;
    repository: string;
    description: string;
    tech: string[];
}

const technologies = await getTechnologiesFromJson();
let { url, title, repository, description, tech }: Props = Astro.props;
---

<div class="group relative block w-full">
    <div
        class="relative p-2 flex h-full
        border duration-200 hover:ease-in
        rounded-md bg-white dark:bg-black shadow-sm hover:shadow-md
        transition-shadow"
    >
        <div class="flex flex-col px-2 my-2 gap-2 !pt-0">
            <div class="flex justify-between">
                <LinkTitle title={title} url={url} />
                {
                    repository !== "" && (
                        <span>
                            <a
                                href={repository}
                                rel="noopener"
                                target="_blank"
                                aria-label="GitHub"
                                class="absolute top-3 right-3 text-gray-700 dark:text-gray-300 hover:text-[#68b5fc] dark:hover:text-[#68b5fc]"
                            >
                                <Icon
                                    name="github"
                                    width="1.2em"
                                    height="1.2em"
                                />
                            </a>
                        </span>
                    )
                }
            </div>
            <p class="text-md text-card-foreground truncate ...">
                {description}
            </p>
            <div class="flex gap-4">
                {
                    tech.map((n) => {
                        if (!technologies[n]) return null;

                        return (
                            <Tech
                                client:idle
                                name={technologies[n].name}
                                description={
                                    technologies[n].description[languageTag()]
                                }
                            >
                                <Icon
                                    name={n}
                                    width="1.2em"
                                    height="1.2em"
                                    slot="icon"
                                />
                                <span slot="link" class="text-xs">
                                    <LinkExternal
                                        title={m.moreInformation()}
                                        url={technologies[n].url}
                                    />
                                </span>
                            </Tech>
                        );
                    })
                }
            </div>
        </div>
    </div>
</div>
