---
import { Icon } from "astro-icon/components";
import dayjs from "dayjs";
import { getLocale } from "@paraglide/runtime";
import { Image } from "astro:assets";
import EverAvatar from "$lib/assets/images/daft.webp";
import MaxiAvatar from "$lib/assets/images/punk.avif";
import Feedback from "$lib/components/common/feedback.svelte";
import { postVisitRequest } from "$lib/common/postView.ts";
import { getVisitRequest } from "$lib/common/getViews.ts";
import * as m from "@paraglide/messages.js";

interface Props {
    id: string;
    title: string;
    url: string;
    description: string;
    readTime: number;
    author: string[];
    tags: string[];
    date: Date;
}

let { id, title, description, readTime, tags, date, author }: Props =
    Astro.props;

await postVisitRequest(id);
let views = await getVisitRequest(id);
---

<div class="relative mx-auto blog mt-10">
    <div
        id="back-button"
        class="fixed bottom-4 left-1/2 -translate-x-1/2 opacity-0 transition-all duration-300 transform translate-y-10
        lg:top-36 lg:left-8 lg:ml-10"
    >
        <a
            href="/"
            rel="external"
            class="group border inline-flex h-10 items-center justify-center
        rounded-full px-4 text-sm bg-background text-foreground
        shadow transition-colors hover:bg-muted focus-visible:outline-none
        focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none
        disabled:opacity-50 gap-1 hover:shadow-lg hover:font-semibold
        dark:bg-background dark:text-foreground dark:hover:bg-muted z-20"
        >
            <Icon
                class="duration-150 group-hover:translate-x-[-2.5px] text-foreground dark:text-foreground"
                name="chevron-left"
                title="Back"
                size="1rem"
            />
            <p class="text-sm text-foreground dark:text-foreground">
                {m.back()}
            </p>
        </a>
    </div>
    <article class="text-card-foreground">
        <div class="flex items-center justify-center mb-2 md:mb-3">
            <div class="w-full text-center">
                <div
                    class="flex items-center justify-center gap-2 text-card-foreground"
                >
                    <p class="flex md:gap-1 text-muted-foreground text-md">
                        {readTime}
                        {getLocale() === "zh" ? "分钟阅读" : "min read"}
                    </p>
                    <Icon name="timer" title="Read time" size="0.8rem" />
                </div>
                <h1 class="text-5xl font-semibold text-foreground">{title}</h1>
            </div>
        </div>
        <div class="space-y-2 not-prose text-center">
            <p class="text-md lg:text-lg">{description}</p>
            <div
                class="flex justify-center items-center text-sm text-muted-foreground space-x-4"
            >
                <section
                    class="flex items-center justify-center gap-1 flex-wrap font-medium"
                >
                    <Icon name="timer" title="Date" size="0.8rem" />
                    <code>
                        {
                            getLocale() === "zh"
                                ? `${dayjs(date).format("YYYY年MM月")}`
                                : `${dayjs(date).format("MMM YYYY")}`
                        }
                    </code>
                </section>
                <section
                    class="flex items-center justify-center gap-1 flex-wrap font-medium"
                    title={tags.join(", ")}
                >
                    <Icon name="tag" title="Tags" size="0.8rem" />
                    <code>{tags.length} {m.tags()}</code>
                </section>
                <section class="flex items-center justify-center">
                    <code
                        class="flex items-center justify-center gap-1 flex-wrap font-medium"
                    >
                        <Icon name="eye" title="Viewws" size="0.8rem" />

                        <span
                            class="backdrop-filter backdrop-blur-md animate-backdrop transition duration-700 ease-in-out"
                        >
                            {views.visits}
                        </span>
                        {m.views()}
                    </code>
                </section>
            </div>
            <p
                class="flex items-center justify-center text-secondary-foreground pt-3"
                aria-label="Author"
                title="Author"
            >
                {
                    author.map((name) => (
                        <>
                            <Image
                                src={
                                    name === "Ever Ruiz Diaz"
                                        ? EverAvatar
                                        : MaxiAvatar
                                }
                                alt={name}
                                class="rounded-full"
                                width={22}
                                height={22}
                            />
                            <span class="ml-1 mr-2">{name}</span>
                        </>
                    ))
                }
            </p>
        </div>
        <hr class="my-8 h-px border-0 bg-gray-300" />
        <div class="mt-6 space-y-4"><slot /></div>
        <Feedback client:idle title={title} {id} language={getLocale()} />
    </article>
</div>

<script>
    window.addEventListener("scroll", () => {
        const backButton = document.getElementById("back-button");
        if (backButton) {
            const windowHeight = window.innerHeight;
            const documentHeight = document.documentElement.scrollHeight;
            const scrollTop =
                window.scrollY || document.documentElement.scrollTop;
            const scrollPercentage =
                (scrollTop + windowHeight) / documentHeight;
            const isMobile = window.innerWidth <= 1024;

            if (
                window.scrollY > 100 &&
                ((isMobile && scrollPercentage < 0.9) || !isMobile)
            ) {
                backButton.style.opacity = "1";
                backButton.style.transform = "translateX(-50%) translateY(0)";
            } else {
                backButton.style.opacity = "0";
                backButton.style.transform =
                    "translateX(-50%) translateY(10px)";
            }
        }
    });
</script>
