---
import { languageTag } from "@paraglide/runtime";
import { LOCALE } from "$lib/common/consts";
import { seoConfig } from "$lib/common/seoConfig";
import "@fontsource-variable/eb-garamond";
import "$lib/styles/app.css";

interface Props {
    title: string;
    description?: string;
    preloadImgLCP?: string;
    canonical?: string;
    image?: string;
}

const DESCRIPTION =
    "Software Engineer focused on cutting-edge Technology, Design and Science.";

const {
    title,
    description = DESCRIPTION,
    preloadImgLCP,
    canonical,
    image = seoConfig.image.url,
} = Astro.props;

const canonicalURL = canonical
    ? new URL(canonical, Astro.site)
    : new URL(Astro.url.pathname, Astro.site);
---

<title>{title}</title>
<meta charset="UTF-8" />
<meta name="description" content={description} />
<link type="text/plain" rel="author" href="/humans.txt" />
{
    preloadImgLCP && (
        <link
            rel="preload"
            href={preloadImgLCP}
            as="image"
            type="image/webp"
            crossorigin
        />
    )
}
<!-- Manifest -->
<link rel="manifest" href="/manifest.webmanifest" />

<!-- Favicons -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
<link rel="icon" href="/assets/icons/favicon.ico" sizes="32x32" />
<link rel="canonical" href={`${canonicalURL}${languageTag()}`} />

<!-- Meta -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta
    name="msapplication-TileImage"
    content="/assets/icons/ms-icon-144x144.png"
/>
<meta name="theme-color" content="hsl(0 0% 5%)" />
<meta name="keywords" content="rust, developer, portfolio" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@EverToujours" />
<meta name="twitter:creator" content="@EverToujours" />
<meta name="twitter:title" content="Ever Ruiz Diaz" />
<meta name="twitter:description" content={DESCRIPTION} />
<meta
    name="twitter:image"
    content={new URL(image, Astro.site)}
    onerror="/og.png"
/>

<!-- Open Graph -->
<meta
    property="og:image"
    content={new URL(image, Astro.site)}
    onerror="/og.png"
/>
<meta property="og:title" content="Ever Ruiz Diaz" />
<meta property="og:description" content={DESCRIPTION} />
<meta property="og:url" content="https://www.everdev.it" />
<meta property="og:site_name" content="Ever" />
<meta property="og:type" content="website" />
<meta property="og:locale" content={LOCALE[languageTag()]} />
<meta property="fb:app_id" content="123456789" />

<!-- Robots -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Additional Meta Tags -->
<meta name="msapplication-config" content="/browserconfig.xml" />
<link rel="sitemap" href="/sitemap-index.xml" />
