---
import { getLocale } from "@paraglide/runtime";
import { LOCALE } from "$lib/common/consts";
import { seoConfig } from "$lib/common/seoConfig";
import ebGaramond from "@fontsource-variable/eb-garamond/files/eb-garamond-latin-wght-normal.woff2?url";
import inter from "@fontsource-variable/inter/files/inter-latin-ext-wght-normal.woff2?url";
import "@fontsource-variable/inter";
import "@fontsource-variable/eb-garamond";
import "$lib/styles/app.css";

interface Props {
    title: string;
    description?: string;
    preloadImgLCP?: string;
    canonical?: string;
    image?: string;
    og?: string;
}

const {
    title,
    description = "Software Engineer focused on cutting-edge Technology, Design and Science.",
    preloadImgLCP,
    canonical,
    image = seoConfig.image.url,
    og = "/assets/og.png",
} = Astro.props;

const canonicalURL = canonical
    ? new URL(canonical, Astro.site)
    : new URL(Astro.url.pathname, Astro.site);

const ogType = Astro.url.pathname.includes("blog") ? "article" : "website";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>
<meta name="description" content={description} />
<link type="text/plain" rel="author" href="/humans.txt" />

<!-- Font -->
<link
    rel="preload"
    href={ebGaramond}
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
/>
<link
    rel="preload"
    href={inter}
    as="font"
    type="font/woff2"
    crossorigin="anonymous"
/>

<!-- ImgLCP -->
{
    preloadImgLCP && (
        <link
            rel="preload"
            href={preloadImgLCP}
            as="image"
            type="image/webp"
            crossorigin
        />
    )
}
<!-- Manifest -->
<link rel="manifest" href="/manifest.webmanifest" />

<!-- Favicons -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" />
<link rel="icon" href="/assets/icons/favicon.ico" sizes="32x32" />
<link rel="canonical" href={`${canonicalURL}${getLocale()}`} />
<link
    rel="alternate"
    hreflang={`${getLocale()}`}
    href={`${canonicalURL}${getLocale()}`}
/>

<!-- Meta -->
<meta name="msapplication-TileColor" content="#ffffff" />
<meta
    name="msapplication-TileImage"
    content="/assets/icons/ms-icon-144x144.png"
/>
<meta name="theme-color" content="hsl(0 0% 5%)" />
<meta name="keywords" content="rust, developer, portfolio" />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@EverToujours" />
<meta name="twitter:creator" content="@EverToujours" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta
    name="twitter:image"
    content={new URL(image, Astro.site)}
    onerror="/og.png"
/>
<meta name="twitter:image:secure" content={new URL(og, Astro.site)} />

<!-- Open Graph -->
<meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
<meta
    property="og:image"
    content={new URL(image, Astro.site)}
    onerror="/og.png"
/>
<meta property="og:image" content={new URL(og, Astro.site)} />
<meta property="og:image:secure_url" content={new URL(og, Astro.site)} />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:alt" content={title} />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="630" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content="https://www.everdev.it" />
<meta property="og:site_name" content="Ever" />
<meta property="og:type" content={ogType} />
<meta property="og:locale" content={LOCALE[getLocale()]} />
<meta property="og:whatsapp" content="true" />
<meta property="fb:app_id" content="123456789" />

<!-- Robots -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Additional Meta Tags -->
<meta name="msapplication-config" content="/browserconfig.xml" />
<link rel="sitemap" href="/sitemap-index.xml" />
