---
import Post from "$lib/components/common/Post.astro";
import Table from "$lib/components/blog/organizations/table.svelte";
import TableDescription from "$lib/components/blog/organizations/tableDescription.svelte";
import { getPost } from "$lib/common/getPostById";
import { languageTag } from "@paraglide/runtime";
import LinkPost from "$lib/components/common/LinkPost.astro";

const ID = "511bc558-3f6e-4375-8e57-37e19519f1db";
const post = await getPost(ID);
if (!post) throw new Error("Post not found");

const translations = {
    en: {
        tomorrowTitle: "Rust's Rise",
        poem: "Where giants forge code in trust's sharp light, New pathways unfold for hands bold in Rust's might. Syntax secure, speed unconfined— Safety and ease reshape tech's frontier, redefined.",
        communityTitle: "Note to community",
        communityText:
            "Contribute to expanding the list submit a pull request at",
        poemBy: "Poem by DeepSeek R1",
    },
    zh: {
        tomorrowTitle: "Rust的崛起",
        poem: "在信任的锐利光芒中巨人锻造代码，新的道路为Rust的力量而展开。语法安全，速度无限—安全与便捷重塑技术前沿。",
        communityTitle: "社区注释",
        communityText: "通过以下方式提交拉取请求来帮助扩展列表",
        poemBy: "诗歌作者：DeepSeek R1",
    },
};

const t = translations[languageTag() === "zh" ? "zh" : "en"];
---

<Post
    id={ID}
    title={post.title[languageTag()]}
    url={post.url}
    description={post.description[languageTag()]}
    readTime={post.readTime}
    author={post.author}
    tags={post.tags}
    date={post.date}
>
    <div class="w-full">
        <h1 id="tomorrow" class="blog-content-title">
            <a href="#tomorrow">{t.tomorrowTitle}</a>
        </h1>
        <p class="blog-content-paragraph">
            <em>[{t.poemBy}]</em><br />
            {
                t.poem.split("Rust").map((part, i) =>
                    i === 0 ? (
                        part
                    ) : (
                        <>
                            <LinkPost
                                url="https://www.rust-lang.org/"
                                title="Rust"
                            />
                            {part}
                        </>
                    ),
                )
            }
        </p>
        <TableDescription />
        <Table client:idle />
        <h1 id="community" class="blog-content-title pt-6">
            <a href="#community">{t.communityTitle}</a>
        </h1>
        <p class="blog-content-paragraph">
            {t.communityText}
            <LinkPost
                url="https://github.com/ruizdiazever/portfolio-rs/blob/main/frontend/src/assets/organizations.json"
                title="GitHub Repository"
            />.
        </p>
    </div>
</Post>
