---
import Hero from "./Hero.astro";
import Blog from "./cards/Blog.astro";
import Experience from "./cards/Experience.astro";
import Project from "./cards/Project.astro";
import { Icon } from "astro-icon/components";
import { getPosts } from "$lib/common/getPosts";
import { getEntriesFromJson } from "$lib/common/getExperience.ts";
import { getProjectsFromJson } from "$lib/common/getProjectCards.ts";
import { getVisitRequest } from "$lib/common/getViews.ts";
import { languageTag } from "@paraglide/runtime";
import * as m from "@paraglide/messages.js";
import Divider from "$lib/components/common/Divider.astro";

const posts = await getPosts();
const entries = await getEntriesFromJson();
const projects = await getProjectsFromJson();

const postViews = await Promise.all(
    posts.map((post) => getVisitRequest(post.id)),
);
---

<Hero />

<main class="space-y-16 mt-16">
    <section>
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-5xl font-bold">{m.blog()}</h1>
            <a
                href={`${languageTag()}/blog/articles`}
                class="flex items-center gap-2 text-sm text-secondary-foreground font-semibold"
            >
                {m.more()}
                <Icon name="arrow-right" title="LinkedIn" size="0.8rem" />
            </a>
        </div>
        <div class="space-y-6">
            {
                posts
                    .filter((post) => post.active)
                    .sort((a, b) => (b.pinned ? 1 : 0) - (a.pinned ? 1 : 0))
                    .map((post, index, filteredPosts) => (
                        <>
                            <Blog
                                title={post.title[languageTag()]}
                                pinned={post.pinned}
                                url={`/${languageTag()}${post.url}`}
                                description={post.description[languageTag()]}
                                views={postViews[index]}
                                tags={post.tags}
                                date={post.date}
                            />
                            {index < filteredPosts.length - 1 && <Divider />}
                        </>
                    ))
            }
        </div>
    </section>

    <section>
        <h1 class="text-5xl font-bold mb-6">{m.projects()}</h1>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
            {
                projects.map((entry) => (
                    <Project
                        url={`/${languageTag()}${entry.url}`}
                        title={entry.title}
                        repository={entry.repository}
                        description={entry.description[languageTag()]}
                        tech={entry.tech}
                    />
                ))
            }
        </div>
    </section>

    <section>
        <h1 class="text-5xl font-bold mb-6">{m.experience()}</h1>
        <div
            class="after:absolute after:inset-y-0 after:w-px after:bg-gray-500/20 relative pl-6 after:left-0 grid gap-10"
        >
            {
                entries.map((entry) => (
                    <Experience
                        startDate={entry.startDate}
                        endDate={entry.endDate}
                        current={entry.current}
                        position={entry.position[languageTag()]}
                        company={entry.company}
                        url={entry.url}
                        description={entry.description[languageTag()]}
                    />
                ))
            }
        </div>
    </section>
</main>
