---
import Hero from "./Hero.astro";
import Blog from "./cards/Blog.astro";
import Experience from "./cards/Experience.astro";
import Project from "./cards/Project.astro";
import { getPostsFromJson } from "$lib/common/getBlogCards.ts";
import { getEntriesFromJson } from "$lib/common/getExperience.ts";
import { getProjectsFromJson } from "$lib/common/getProjectCards.ts";
import { languageTag } from "@paraglide/runtime";
import * as m from "@paraglide/messages.js";

const posts = await getPostsFromJson();
const entries = await getEntriesFromJson();
const projects = await getProjectsFromJson();
---

<Hero />

<h1 class="text-xl font-semibold mt-6">{m.blog()}</h1>
{
    posts.map((post) => (
        <Blog
            title={post.title[languageTag()]}
            url={`/${languageTag()}${post.url}`}
            description={post.description[languageTag()]}
            readTime={10}
            views={1000}
            tags={post.tags}
            date={post.date}
        />
    ))
}

<h1 class="text-xl font-semibold mt-6">{m.projects()}</h1>
<div class="grid gap-4 grid-cols-1 md:grid-cols-2 place-items-center">
    {
        projects.map((entry) => (
            <Project
                url={entry.url}
                title={entry.title}
                repository={entry.repository}
                description={entry.description[languageTag()]}
                tech={entry.tech}
            />
        ))
    }
</div>

<h1 class="text-xl font-semibold mt-6">{m.experience()}</h1>
<div class="relative flex flex-col gap-4">
    <div
        class="after:absolute after:inset-y-0 after:w-px after:bg-gray-500/20 relative pl-6 after:left-0 grid gap-10"
    >
        {
            entries.map((entry) => (
                <Experience
                    startDate={entry.startDate}
                    endDate={entry.endDate}
                    current={entry.current}
                    position={entry.position[languageTag()]}
                    company={entry.company}
                    url={entry.url}
                    description={entry.description[languageTag()]}
                />
            ))
        }
    </div>
</div>
